{% load static %}



<footer class="footer mt-5" style="background-color: #f1edec; padding: 20px 0;">
    <div class="container">
        <div class="row">
            <!-- العمود الأول: الاسم والتعريف -->
            <div class="col-md-4 col-12 text-center">
                <br>
                <p>المقرأة اليمنية الالكترونية</p>
                
            </div>
            <!-- العمود الثاني: العنوان -->
            <div class="col-md-4 col-12 text-center">
                <h5>العنوان</h5>
                <p>مدينة مأرب - الشارع العام - جوار فندق ميلانو</p>
            </div>
            <!-- العمود الثالث: التواصل -->
            <div class="col-md-4 col-12 text-center">
                <h5>التواصل</h5>
                <p>هاتف: 00967784252107</p>
                <p>ايميل: <a href="mailto:info@cshq-ye.com">info@cshqy.org</a></p>
<br>
                <div class="social-icons">
                    <a href="https://www.youtube.com" target="_blank" style="margin: 0 10px;">
                        <img src="{% static 'icons/youtube.png' %}" alt="YouTube" width="30">
                    </a>
                    <a href="https://www.x.com" target="_blank" style="margin: 0 10px;">
                        <img src="{% static 'icons/twitter.png' %}" alt="X" width="30">
                    </a>
                    <a href="https://www.facebook.com" target="_blank" style="margin: 0 10px;">
                        <img src="{% static 'icons/facebook.png' %}" alt="Facebook" width="30">
                    </a>
                    <a href="https://wa.me/009676310219" target="_blank" style="margin: 0 10px;">
                        <img src="{% static 'icons/whatsapp.png' %}" alt="WhatsApp" width="30">
                    </a>
                    <a href="https://t.me/your-telegram-handle" target="_blank" style="margin: 0 10px;">
                        <img src="{% static 'icons/telegram.png' %}" alt="Telegram" width="30">
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <!-- الحقوق -->
        <div class="row text-center">
            <div class="col-12">
                <p>&copy; الخوارزمي للحلول الذكية</p>
            </div>
        </div>
    </div>
</footer>



