<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> المقرأة اليمنية  </title>
    {% include 'parts/header.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
    
            body {
                direction: rtl;
                text-align: right;
                background-color: #e7d5d0;
            }
    
        
        .row  {
            margin-bottom: 10px;
        }
       
   
    </style>

</head>
<body>
   

        
        <div class="container mt-5" class="text-center" style="background-color:#f9f2f0 ;">
            <h1 class="text-center text-danger">الجمعية الخيرية لتعليم القرآن الكريم – اليمن</h1>
            <br>
            <p>الجمعية الخيرية لتعليم القرآن الكريم – اليمن -  مؤسسة تعليمية أهلية، تأسست عام 1413هـ/1992م، مركزها الرئيس بصنعاء، وتم نقله إلى محافظة مأرب. تم ترخيص الجمعية من قبل وزارة الشئون الاجتماعية والعمل برقم (578) وكذلك ترخيص لتسويق المشاريع من قبل الخارجية الكويتية برقم (4417).
                أسس ويشرف على الجمعية نخبة من العلماء والأساتذة المتخصصين في مجال القرآن الكريم وعلومه.
                 تعمل من خلال (21) فرعاً ومكتباً في عموم محافظات الجمهورية، يديرها ويعمل فيها (2517) معلماً وموجها ومشرفاً.
                 أنشأت الجمعية في العام 2012م: جامعة القرآن الكريم والعلوم الإسلامية لاستيعاب المتخرجين والراغبين في دراسة القرآن وعلومه والدراسات لإسلامية.
                تصنف الجمعية في اليمن على أنها أول وأكبر المؤسسات القرآنية، وقد أسند إليها تنظيم المسابقات القرآنية في التلفزيون الرسمي للجمهورية اليمنية مدة 23عاماً. 
                </p>
                <br>
        </div>
        <div class="container mt-5" style="background-color:#f9f2f0 ;" >
            <h1 class="text-center text-danger" >شركائنا:</h1>
            <p> 1.	الهيئة الخيرية الإسلامية العالمية<br>
                2.	جمعية تنمية الخيرية<br>
                3.	جمعية بلد الخير<br>
                4.	جمعية النجاة الخيرية<br>
                5.	قطر الخيرية<br>
                6.	الندوة العالمية للشباب الإسلامي<br>
                7.	جمعية الفرقان لخدمة القرآن<br>
                8.	شبكة نماء الأهلية<br>
                9.	اتحاد المنظمات الأهلية في العالم الإسلامي<br>
                10.	شبكة نماء الأهلية<br>
                </p>
                <br> 
            </div>
            <div class="container mt-5" style="background-color:#f9f2f0 ;" >
                <h1 class="text-center text-info" >رؤية الجمعية</h1>
                <br>
                <h6 class="text-center text-secondary" >الريادة في تعليم ونشر القرآن الكريم وعلومه.</h6>
                <h1 class="text-center text-info" >رسالة الجمعية</h1>
                <p class="text-center"> العناية بالقرآن الكريم وعلومه؛ تعليماً وبحثاً ونشراً بكفاءة وإتقان، 
                    وتعزيز الشراكة والقيم، وتحقيق الخيرية على أوسع نطاق ممكن.
                    
                    </p>
                    <br>
                    <h1 class="text-center text-info" >قيم  الجمعية</h1>
                    <p class="text-center"   >  
                        الشراكة - الشفافية – الإتقان.
                         </p>
                         <br>
                         <h1 class="text-center text-info" >أهداف   الجمعية</h1>
                         <p class="text-center-start"  >  
                            •	تحفيظ القرآن الكريم وتعليمه على أوسع نطاق ممكن.<br>
                            •	تدريس القراءات والمحافظة على أسانيدها.<br>
                            •	العناية بالقرآن الكريم وعلومه؛ تعليماً وتأليفاً وبحثاً ونشراً.<br>
                            •	تربية النشء على نهج القرآن الكريم، والتخلق بأخلاقه.<br>
                            •	توحيد جهود وإمكانيات محبي القرآن الكريم والباذلين من أجله.<br>
                            •	تنفيذ مشاريع اجتماعية ومعونات إنسانية.<br>
                            
                              </p>




<br>
            </div>
   

            {% include 'parts/footer.html' %}
    </div>



    <script src="js/jquery-3.7.1.js" ></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
